<?xml version="1.0" encoding="UTF-8"?>
<suite name="API Automation Framework" parallel="methods" thread-count="3" verbose="1">
<suite name="API Automation Test Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>

    <test name="REST API Tests" preserve-order="true">
    <test name="REST API Tests">
        <classes>
            <class name="com.automation.api.tests.PostTests"/>
            <class name="com.automation.api.tests.UserTests"/>
        </classes>
    </test>

    <test name="GraphQL Tests" preserve-order="true">
    <test name="GraphQL Tests">
        <classes>
            <class name="com.automation.graphql.tests.SpaceXTests"/>
        </classes>
    </test>

</suite>
